@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Numans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Numans';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container {
    width: 420px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    padding: 30px 40px;
    display: none;
}

.social_icon {
    position: absolute;
    right: 43%;
    bottom: 72%;
}

.social-icon-container {
    display: inline-block;
}

.social_icon #fab {
    font-size: 75px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon #goo {
    font-size: 70px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon #twi {
    font-size: 70px;
    margin-left: 10px;
    color: #FFC312;
}

.input-box {
    position: relative;
}

.input-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #FFC312;
    border-radius: 10px;
}

.inner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 50px;
    background-color: #FFC312;
    transform: translate(40px);
    z-index: 10;
}


.input-box i {
    color: black;
    position: absolute;
    left: 20px;
    top: 35%;
    font-size: 20px;

}

.container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: white;
    border: rgba(225, 225, 225, .2);
    border-radius: 10px;
    font-size: 16px;
    padding: 20px 45px 20px 90px;
}

.input-box input ::placeholder {
    color: gray;

}

.letrero p a {
    display: flex;
    justify-content: center;
}

a {
    color: rgb(45, 112, 208);
}

.container .btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
    height: 45px;
    float: right;
    border-radius: 10px;
    font-size: 20px;
}

.container .btn:hover {
    color: black;
    background-color: white;
}




.container .letrero {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

.container .Remember {
    font-size: 20px;
}

.cambio {
    color: black;
    background-color: rgb(33, 49, 83);
    width: 100px;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    transform: translate(460px, 340px);
}